h5 {
  color: #f4f49e;
  font-size: 64px;
  font-family: "Lobster Two", cursive;
}

h6 {
  color: #8cdadb;
  font-size: 28px;
  font-family: "Quicksand", sans-serif;
}

button {
  font-size: 16px;
  padding: 5px;
  margin: 0 auto;
  border: 1px solid white;
  background: #f4f49e;
  transition: all 200ms linear;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background: white;
}

.buttons:hover {
  color: palevioletred;
}

.card {
  display: block;
  margin: 0 auto;
  background-color: #856c8b;
  font-family: "Quicksand", sans-serif;
  padding: 20px;
  max-width: 600px;
}

.card-end {
  text-align: center;
  display: block;
  border-color: transparent;
  padding: 0;
}

.buttons {
  text-decoration: none;
  color: grey;
}

.current-date {
  color: #8cdadb;
  font-size: 36px;
  font-family: "Quicksand", sans-serif;
}

.current-icon {
  font-size: 70px;
  color: #a4c5c6;
  padding: 10px;
}
.current-temp {
  font-size: 36px;
  font-family: "Lobster Two", cursive;
  color: #f4f49e;
  text-decoration: none;
}
.table {
  font-size: 24px;
  color: white;
}

.description {
  color: white;
  font-size: 40px;
}

.most-searched {
  color: #d4ebd0;
  font-size: 28px;
  font-family: "Lobster Two", cursive;
}
.most-cities {
  color: #9ddcdc;
  font-size: 16px;
  text-align: center;
}

a:hover {
  cursor: pointer;
  background: white;
  color: #e67a7a;
}

.footer {
  font-family: "Courier New", Courier, monospace;
  display: block;
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
  color: #6789ba;
}

#separator {
  color: white;
}

#celsius {
  background-color: transparent;
}
#fahrenheit {
  background-color: transparent;
}
a.current-temp:hover {
  cursor: pointer;
  color: white;
}
